*
    font-family: 'Museo Sans'
@import "base/variables"
@import "base/mixins"



.container
    max-width: 950px
    margin: 0 auto

@import "blocks/promo"
@import "blocks/header"
@import "base/buttons"
@import "blocks/advantagers"
@import "base/media"
@import "blocks/consultation"
